# Data Science tools and Ecosystem

in this notebook, Data Science Tools and Ecosystem are summerized

some of the popular languages that data scienctists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++

some of the commonly used libraries used by data scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### below are a few examples of evaluating arithmetic expressions in python

In [ ]:
#this is a single arithmetic expression to multiply then add integers
(3*4)+5

In [ ]:
#this will convert 200 minutes to hours by dividing by 60
200/60

**Objective:**
   - list popular languages in data science
   - list commonly used libraries used by data scientists
   - know how to use headings
   - know how to do simple arithmetic expressions by python

## Author
Reem Tareq